@font-face {
  font-family: 'Black-Ops';
  src: url('../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

:root {
  --main-color-1-bright: #12c80e;
  --main-color-1-dim: #06ad12;
  --main-color-2: #0080ff;
  --main-color-3: #020501;
  --font: 'Black-Ops';
  --footer-font: 'Roboto-Regular';
}

body {
  background-color: #000;
}

.title {
  color: var(--main-color-1-bright);
  font-family: var(--font);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-gb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 75px;
}

.gameboard-interface {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: 3px solid var(--main-color-1-bright);
}

.gb-row {
  box-sizing: border-box;
  display: flex;
  flex: 1;
}

.gb-square {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid var(--main-color-1-dim);
  background-color: #020501;
}

.square-hover {
  background-color: #028601;
  cursor: pointer;
}

footer > p {
  color: var(--main-color-1-bright);
  font-family: var(--footer-font);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  padding: 10px 20px 20px 20px;
}

footer > p > a {
  color: #0080ff;
  text-decoration: none;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

footer > div > a > img {
  display: block;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/* Pop-up Container */

.ship-placement-popup-container {
  position: absolute;
  width: 100%;
  max-width: 350px;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #c4c4c4;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.8);
}

.popup-text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.popup-text-container > p:nth-child(1) {
  font-family: 'Black-Ops';
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 20px;
}

.popup-text-container > p:nth-child(2) {
  font-family: var(--footer-font);
  font-size: 1.3rem;
}

.popup-gb-container {
  display: flex;
  justify-content: center;
}

.rotate-ship-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 150px;
}

.rotate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #000;
  font-family: var(--footer-font);
  background-color: var(--main-color-1-dim);
}
